<h3>
  Спасибо за регистрацию!<br>
  Чтобы иметь возможность заказывать товары Вам необходимо авторизоваться.
</h3>
<a href={{loginLink}}>Перейти к аторизации</a>
<pre>
Ваш логин: {{email}},<br>
    пароль: {{password}}
</pre>
